<div ng-switch="myVar">
    <div ng-switch-when="dogs">
      <h1>Dogs</h1>
      <p>Welcome to a world of dogs.</p>
    </div>
    <div ng-switch-when="tuts">
      <h1>Tutorials</h1>
      <p>Learn from examples.</p>
    </div>
    <div ng-switch-when="cars">
      <h1>Cars</h1>
      <p>Read about cars.</p>
    </div>
    <div ng-switch-default>
      <h1>Switch</h1>
      <p>Select topic from the dropdown, to switch the content of this DIV.</p>
    </div>
  </div>


  <br>

 

<div NgSwitch= "day">

<div *NgSwitchCase = 0>Today is Sunday! You deserve a break</div>

<div *NgSwitchCase = '1'><h3>Today is Monday, Hope you have productive Week</h3></div>

<div *NgSwitchCase = '2'><h3>Today is Tuesday, Smash your Goals</h3></div>

<div *NgSwitchCase = '3'><h3>Today is Wednesday, You're already half way through</h3></div>

<div *NgSwitchCase = '4'><h3>Today is Thursday, It's like Friday Lite</h3></div>

<div *NgSwitchCase = '5'><h3>Today is Friday, TGIF!!!</h3></div>

<div *NgSwitchCase = '6'><h3>Today is Saturday, Let's Party!! :) </h3></div>

<div *NgSwitchDefault>Uh oh! Somethings wrong</div>

</div>